<<<<<<< HEAD
=======
/*.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}*/

>>>>>>> origin/master
.nostyle-table-container {
	background: none !important;
	border: none !important;
}